.intro__title {
	font-family: 'Karla', sans-serif;
	font-size: 31.25px;
	font-weight: 700;
	color: #293264;
	margin-bottom: 10px;
}

.intro__description {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #293264;
	margin-bottom: 30px;
}
