.App {
	width: 700px;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f5f7fb;
	background-repeat: no-repeat, no-repeat;
	background-position: top right, bottom left;
	margin: 25px auto;
}

.questions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.score-container {
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.score {
	font-family: "Inter", sans-serif;
	font-size: 12.8px;
	font-weight: 700;
	color: #293264;
	margin-right: 20px;
}

.loading {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #293264;
}

/* Media queries */

@media screen and (max-width: 480px) {
	.App {
		max-width: 100vw;
		min-height: 100vh;
		margin: auto 0;
	}
}
