.App {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fb;
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    margin: 25px auto;
}

.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
